<!doctype html>
<html lang="id">
  <head>
    <title>Di Surabaya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1 class="text-center">Di Surabaya</h1>
    </header>
    <main>
      <h2>Rute Transportasi Publik</h2>
      <details class="map-collapsible pl-16 cursor-pointer" open>
        <summary>
          Rute Bus
          <a
            href="https://drive.google.com/file/d/{{BUS_MAP_FILE_ID}}/preview"
            class="source-text"
            target="_blank"
          >
            <sup>[sumber]</sup>
          </a>
        </summary>
        <iframe
          class="embedded-map"
          src="https://drive.google.com/file/d/{{BUS_MAP_FILE_ID}}/preview"
          allow="autoplay"
        ></iframe>
      </details>
      <details class="map-collapsible pl-16 cursor-pointer">
        <summary>
          Rute Kereta
          <a
            href="https://drive.google.com/file/d/{{TRAIN_MAP_FILE_ID}}/preview"
            class="source-text"
            target="_blank"
          >
            <sup>[sumber]</sup>
          </a>
        </summary>
        <iframe
          class="embedded-map"
          src="https://drive.google.com/file/d/{{TRAIN_MAP_FILE_ID}}/preview"
          allow="autoplay"
        ></iframe>
      </details>

      <h2>Akun Sosial</h2>
      <ul id="social-accounts" class="no-list-style">
        <li><a href="https://www.instagram.com/surabayasparkling/" target="_blank">@surabayasparkling</a></li>
        <ul>
          <li> Akun Instagram yang berisi <i> event </i> dan agenda kota Surabaya. Akun ini dikelola oleh Dinas Kebudayaan, Kepemudaan dan Olahraga serta Pariwisata Kota Surabaya </li>
        </ul>
        <li><a href="https://www.instagram.com/surabaya/" target="_blank">@surabaya</a></li>
        <ul>
          <li> Akun Instagram yang berisi himbauan, pesan, dan kegiatan pemerintah kota Surabaya. Akun ini dikelola oleh Dinas Komunikasi dan Informatika Kota Surabaya </li>
        </ul>
      </ul>

      <h2>Tautan</h2>
      <ul>
        <li> 
          <a href="https://surabaya.go.id/" class="bold" target="_blank">
            https://surabaya.go.id/
          </a> 
          merupakan situs resmi pemerintah kota Surabaya
        </li>
        <li> 
          <a href="https://tourism.surabaya.go.id/" class="bold" target="_blank">
            https://tourism.surabaya.go.id/
          </a> 
          merupakan situs mengenai wisata kota Surabaya yang dikelola oleh Dinas Kebudayaan, 
          Kepemudaan dan Olahraga serta Pariwisata Kota Surabaya Kota Surabaya
        </li>
      </ul>

      <h2>Berita Lokal</h2>
      <ul>
        <li> <a href="https://www.suarasurabaya.net/" target="_blank"> https://www.suarasurabaya.net/ </a> </li>
      </ul>
    </main>
    <hr />
    <footer>
      <h1 class="text-center"> Tentang </h1>
      <div class="font-14">
        <p>
          di-surabaya (Di Surabaya) merupakan situs berisi ringkasan 
          informasi dan tautan yang berkaitan dengan kota Surabaya.
          Kesulitan mencari informasi menggunakan mesin pencari menjadi
          awal ide untuk membuat situs ini, yaitu untuk mengumpulkan 
          tautan-tautan berisi informasi yang diperlukan selama tinggal 
          di Surabaya. 
        </p>

        <p>
        <strong><em>
          Informasi di situs ini bisa jadi belum diperbarui,
          oleh karena itu disarankan untuk memverifikasi dengan sumber
          yang telah dicantumkan dari tiap informasi.
          </em></strong>
        </p>

        <p>
          Ada informasi yang perlu ditambahkan pada situs ini? Ingin
          memberi pendapat atau saran? Silahkan klik tombol di bawah untuk mengisi 
          form.
        </p>

        <a href="https://coda.io/form/Form-di-surabaya_dB-JH1klQa9" target="_blank"><button class="cursor-pointer font-14 form-btn"> Klik untuk mengisi form </button></a>
      </div>
      <p> <sub> Sumber kode: https://github.com </sub> </p>
    </footer>
  </body>
</html>
